<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    <!-- CSS only -->
  {% load static %}
  <!-- Latest compiled and minified CSS -->


    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>





    <script>// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see the error "The Geolocation service
// failed.", it means you probably did not give permission for the browser to
// locate you.
let map, infoWindow;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: -34.397, lng: 150.644 },
    zoom: 6,
  });
  infoWindow = new google.maps.InfoWindow();
  const locationButton = document.createElement("button");
  locationButton.textContent = "Pan to Current Location";
  locationButton.classList.add("custom-map-control-button");
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
  locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          infoWindow.setPosition(pos);
          infoWindow.setContent("Location found.");
          infoWindow.open(map);
          map.setCenter(pos);
        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  });
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}
</script>






<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <script src="./index.js"></script>
           <script type="text/javascript">
        let map;

        function initMap() {
          map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8,
          });
        }

    </script>
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
  {% for group in user.groups.all%}
    {% if group.name == "Customers" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navie">
  <a class="navbar-brand" href="{% url 'customers:index' %}">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'customers:trash_customer' %}">Register <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'customers:request_cancel' user.id %}">Extra Service</a>
      <a class="nav-item nav-link" href="{% url 'customers:suspend_account' %}">Suspend Account</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</nav>
<!-- NAV -->

    <div class="container" syle="background: gray">
    <div class="row">
      <div class="col" style="background-color: beige; color: black">
        {{user.first_name}}
      </div>
     <div class="col" style="background-color: beige; color: black">
        {{user.last_name}}
      </div>
    </div>
    <div class="row">
      <div class="col" style="background-color: beige; color: black">
        {{customer.address}}
      </div>
   <div class="col" style="background-color: beige; color: black">
        {{customer.city}}
      </div>
      <div class="col" style="background-color: beige; color: black">
        {{customer.state}}
      </div>
    </div>
    </div>

<div id="bannerimage"></div>



  {% elif group.name == "Employees" %}
<!--IN LINE EDITING HERE: in case you want to replace for css later -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'employees:index' %}">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'employees:match_zip' %}">Start<span class="sr-only">Work</span></a>
      <a class="nav-item nav-link" href="{% url 'employees:daily_view' %}">Daily Routes</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</nav>
<!--nAV-->

  {% endif %} <!-- this ends line 58 -->
  {% endfor %} <!-- this ends line 16 -->

{% endif %} <!--ends line 15 -->
  <main>

    <h1>{% block header %} {% endblock %}</h1>
    {% block content %}
    {% endblock %}

  </main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
{# This is the parent view that can be inherited by any other views #}
{# Todo: Add navbar links, link to stylesheets, style layout #}