<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    <!-- CSS only -->
  {% load static %}
  <!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">


  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
  {% for group in user.groups.all%}
    {% if group.name == "Customers" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navie">
  <a class="navbar-brand" href="{% url 'customers:index' %}">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'customers:trash_customer' %}">Register <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'customers:request_cancel' user.id %}">Extra Service</a>
      <a class="nav-item nav-link" href="{% url 'customers:suspend_account' %}">Suspend Account</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</nav>
<!-- NAV -->
    <div class="container">
    <div class="row">
      <div class="col">
        {{user.first_name}}
      </div>
      <div class="col">
        {{user.last_name}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{customer.address}}
      </div>
      <div class="col">
        {{customer.city}}
      </div>
      <div class="col">
        {{customer.state}}
      </div>
    </div>
    </div>

<div id="bannerimage"></div>



  {% elif group.name == "Employees" %}
<!--IN LINE EDITING HERE: in case you want to replace for css later -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'employees:index' %}">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'employees:match_zip' %}">Start<span class="sr-only">Work</span></a>
      <a class="nav-item nav-link" href="{% url 'employees:daily_view' %}">Daily Routes</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</nav>
<!--nAV-->

  {% endif %} <!-- this ends line 58 -->
  {% endfor %} <!-- this ends line 16 -->

{% endif %} <!--ends line 15 -->
  <main>

    <h1>{% block header %} {% endblock %}</h1>
    {% block content %}
    {% endblock %}

  </main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
{# This is the parent view that can be inherited by any other views #}
{# Todo: Add navbar links, link to stylesheets, style layout #}