 {% load static %}

 {% extends 'main/header.html' %}

  {% block content %}

  {% load static %}


   <div class="container">
     <img class="img-fluid" src="{% static 'img/photo.png' %}" alt="photo">
   </div>


  {% endblock %}


{% extends 'base.html' %}

{% block title %}Home Portal{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hello {{ user.username }}. You don't have a group assigned. Please contact administrator or attempt to register again.
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in. Please log in or create an account.</p>
  <a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'accounts:register' %}">Sign Up</a>
{% endif %}
{% endblock %}

{# This is the home page that allows a logged out user to register or log in #}{% extends 'main/header.html' %}


  {% block content %}

  {% load static %}  #load static


   <div class="container">

   </div>


  {% endblock %}