{% extends 'base.html' %}

{% block title %}{% block header %} <div style="text-align: center; background-color: beige">Daily Customers</div> {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div style="text-align: center">Hello Employee {{ user.username }}!</div>



<form action="{% url 'employees:daily_view' %}" method="post">
  {% csrf_token %}
  <label for="day">Choose a day:</label>
  <select id="day" name="day">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
  </select>
  <input type="submit">
</form>
<!--editing here-->



<!--editing here-->
<div class="container" style="height: 100%">
  <div class="row">
    <div class="col-sm" style="width: 100%; background-color: beige">
      <ul style="overflow-y: scroll; height:350px; width: auto">
            {% for customer in customers %}

        <div class="card" style="width: 100%">
          <div class="card-body">
            <h style="font-size: 4vw; color: black"> Name: {{customer.name}}<br>
                address: {{customer.address}}<br>
                zipcode: {{customer.zipcode}}<br>
                pickup day: {{customer.pickup_day}} </h>
         </div>
        </div>
          {% endfor %}
      </ul>
    </div>
  </div>
</div>

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}