{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!
  {% if user.manages_zipcode != null %}
  {% for customer in customers %}
    <ul>
      <li><h style="fontsize: 4vw"> Name: {{customer.name}}<br>  </h>
          <h>address: {{customer.address}} <br></h>
          <h>zipcode: {{customer.zipcode}}<br></h>
          <h>pickup day: {{customer.pickup_day}}<br></h>
      </li>
    </ul>
  {% endfor %}
    <a href="{% url 'employees:match_zip' %}"> click to view route</a>
  {% endif %}
  {% if user.manages_zipcode == null %}
  Please fill out this form to get started.
    <form action="{% url 'employees:zipcode' %}" method="post">
      {% csrf_token %}
      What zipcode will you be working in?
      Zip Code:<input type="text" name="zipcode" id="zipcode"><br>
      and please fill out your first and last name.<br>
      First Name:<input type="text" name="first_name" id="first_name"><br>
      Last Name:<input type ="text" name="last_name" id="last_name">
      <input type="submit" value="submit">
    </form>
  {% endif %}








  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}