{% extends 'base.html' %}

{% block title %}{% block header %} {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}

  {% if user.manages_zipcode != null %}
<!--Inner style editing here -->
<div class="container" >
  <div class="row" style="width: auto;">
      <div class="col-sm" style="width: 100%; padding: revert;">
              <h1 style="font-size: 4vw; text-align: center"> {% if end == False %}  LET'S GET STARTED! <br>Click START WORK in the navbar {% endif %} {% if end == True %} COMPLETE {% endif %}</h1>
              {% if end == True %}
          <p><br>Great work! You're done for the day!<br> Logout and go home.</p>
              {% endif %}

        <ul style="overflow-y: scroll; height:250px; width: 100%; background-color: white">
              {% for customer in customers %}

          <div class="card" style="width: 90%; text-align:center">
              <div class="card-body">
                  <h5 class="card-title" style="color: black">{{customer.name}}</h5>
                  <p class="card-text" style="color: black">{{customer.address}}<br> {{customer.zipcode}}<br> {{customer.city}}<br>{{customer.pickup_day}}<br></p>
                 <button onclick="flexCheckDefault"><a href="{% url 'employees:charge_customer' customer.id %}">charge customer</a></button>
              </div>
           </div>
            {% endfor %}
        </ul>
      </div>
  </div>
</div>
{% load static %}
<!--GOOGLE MAPS-->







<!-- GOOGLE MAPS-->

  {% endif %}
  {% if user.manages_zipcode == null %}
  Please fill out this form to get started.
    <form action="{% url 'employees:zipcode' %}" method="post">
      {% csrf_token %}
      What zipcode will you be working in?
      Zip Code:<input type="text" name="zipcode" id="zipcode"><br>
      and please fill out your first and last name.<br>
      First Name:<input type="text" name="first_name" id="first_name"><br>
      Last Name:<input type ="text" name="last_name" id="last_name">
      <input type="submit" value="submit">
    </form>
<div class="container" style="text-align: center" ><img class="img-fluid" src="{% static 'image/ZHHx.gif' %}" style="height:auto; width: 100%" class="responsive" alt="photo"></div>
<div class="container" style="text-align: center" ><img class="img-fluid" src="{% static 'image/young_worker.jpg' %}" style="height:auto; width: 100%" class="responsive" alt="photo"></div>

  {% endif %}








  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
  {% endblock %}