{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
   {% if end == False %} Hello Employee {{ user.username }}! {% endif %}
  {% if user.manages_zipcode != null %}

<div class="container" style="width: auto">
  <div class="row" style="width: auto">
    <div class="col-sm" style="width: auto">
      <h1 style="font-size: 4vw; center"> {% if end == False %}  LET'S GET STARTED! Click START WORK in the navbar {% endif %} {% if end == True %} COMPLETE {% endif %}</h1>
        {% if end == True %}
  <br>Great work! You're done for the day!<br> Logout and go home.
  {% endif %}

      <ul style="overflow-y: scroll; height:250px; width: auto">
            {% for customer in customers %}
        <li><h style="fontsize: 4vw"> Name: {{customer.name}}<br>  </h>
            <h>address: {{customer.address}} <br></h>
            <h>zipcode: {{customer.zipcode}}<br></h>
            <h>pickup day: {{customer.pickup_day}}<br></h>
          <button onclick="flexCheckDefault"><a href="{% url 'employees:charge_customer' customer.id %}">charge customer</a></button>
        </li>
          {% endfor %}
      </ul>
    </div>
  </div>
</div>


  {% endif %}
  {% if user.manages_zipcode == null %}
  Please fill out this form to get started.
    <form action="{% url 'employees:zipcode' %}" method="post">
      {% csrf_token %}
      What zipcode will you be working in?
      Zip Code:<input type="text" name="zipcode" id="zipcode"><br>
      and please fill out your first and last name.<br>
      First Name:<input type="text" name="first_name" id="first_name"><br>
      Last Name:<input type ="text" name="last_name" id="last_name">
      <input type="submit" value="submit">
    </form>
  {% endif %}








  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
  {% endblock %}