{% extends 'base.html' %}

{% block title %}{% block header %} Customer Home {% endblock %}{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
  {% if customer.id == null %}
    Hello user, please register to become a customer above.
  {% endif %}
  {% if customer.id != null %}

  {{customer.name}} at {{ customer.address }} we'll see you each {{customer.pickup_day}}!<br>




  Do you need a one time extra emergency trash pickup day?<br>
  Or, do you need to suspend service temporarily while on vacation?
  Click "Request/Cancel" on the navigation bar, or.

  <a href="{% url 'customers:request_cancel' customer.id %}">Click here</a><br>
  <br>
  You currently owe {{customer.balance}}$.<br>
  If you owe more than 100$ we will stop collecting your garbage until debt is paid.<br>
  Handle your debts below.

  <script
    src="https://www.paypal.com/sdk/js?client-id=AVitJxfGd6hiPZP_bMDPBCtrickBs0imoCmj712De3dHVX-tWsy_2EA8A3nHDpb1SwUXtiE_bBv5PipR"> // Required. Replace YOUR_CLIENT_ID with your sandbox client ID.
  </script>

  <div id="paypal-button-container"></div>


<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '0.01'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        alert('Transaction completed by ' + details.payer.name.given_name);
      });
    }
  }).render('#paypal-button-container');
  //This function displays Smart Payment Buttons on your web page.
</script>

  {% endif %}

  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}




