{% extends 'base.html' %}

{% block title %}{% block header %}  <br>   {% endblock %}{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
  {% if customer.id == null %}
    Hello user, please register to become a customer above.
    Select "Register" in the navbar, and you can change your pickup day anytime by clicking there also.
  {% endif %}
  {% if customer.id != null %}
<div class="alert alert-success" role="alert">
   GREEN LIGHT TO GO! {{customer.name}} at {{ customer.address }} we'll see you each {{customer.pickup_day}}!
</div>


  {% if customer.onetime_pickup != None %}
<div class="alert alert-dark" role="alert">
  We will be there {{customer.onetime_pickup}} for your one time pickup
</div>
  .<br>
  {% endif %}
<div class="alert alert-dark" role="alert">
   Do you need a one time extra emergency trash pickup day?
  Do you need to suspend service temporarily while on vacation?
  <br>Click "Extra Service" on the navigation bar.
</div>

  <br>
<div class="alert alert-warning" role="alert">
  You currently owe {{customer.balance}}$.
</div>
  <br>
  {% if customer.balance > 90 %}
<div class="alert alert-danger" role="alert">
   If you owe more than 100$ we will stop collecting your garbage until debt is paid.
  <br>
  Handle your debts below.
</div>

  {% endif %}

  <script
    src="https://www.paypal.com/sdk/js?client-id=AVitJxfGd6hiPZP_bMDPBCtrickBs0imoCmj712De3dHVX-tWsy_2EA8A3nHDpb1SwUXtiE_bBv5PipR"> // Required. Replace YOUR_CLIENT_ID with your sandbox client ID.
  </script>

  <div id="paypal-button-container" style="text-align: center"></div>


<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '0.01'
          }
        }]
      });
    },
    onApprove: function(data, actions) {

      // Authorize the transaction
      actions.order.authorize().then(function(authorization) {

        // Get the authorization id
        var authorizationID = authorization.purchase_units[0]
          .payments.authorizations[0].id

        // Call your server to validate and capture the transaction
        return fetch('/paypal-transaction-complete', {
          method: 'post',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({
            orderID: data.orderID,
            authorizationID: authorizationID
          })
        });
      });
    }
  }).render('#paypal-button-container');
</script>

  {% endif %}

  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}




