{% extends 'base.html' %}

{% block title %}{% block header %}  {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}

    {% if customer.has_used_one_time_extra_service == False %}
<div class="alert alert-dark" role="alert">
  If you need garbage collection other than your regular service.
    You can request an extra pickup below.
</div>


    <form action="{% url 'customers:request_cancel' customer.id %}" method="post">
    {% csrf_token %}
    Pickup date:<input type="date" name="one_time" placeholder="yyyy-mm-dd" value="" min="2020-01-01" max="2099-12-31" id="one_time"><br>
    <input type="submit" value="submit"><br>
    </form>
    {% endif %}

    {% if customer.has_used_one_time_extra_service == True %}
    <p>You've already used up your one-time emergency service,
    You can request it again, but it will cost you 20$</p>

      <form action="{% url 'customers:request_cancel' customer.id %}" method="post">
    {% csrf_token %}
    Extra Service:<input type="date" name="extra_service" placeholder="yyyy-mm-dd" value="" min="2020-01-01" max="2099-12-31" id="extra_service"><br>
    <input type="submit" value="submit"><br>
    </form>
    {% endif %}

<div class="alert alert-dark" role="alert">
     Need to temporarily suspend service because you're going on vacation
    and you dont want to pay for service for a couple weeks? Select the start
    and end dates for suspension.
</div>

          <form action="{% url 'customers:request_cancel' customer.id %}" method="post">
    {% csrf_token %}
    Start:<input type="date" name="start" placeholder="yyyy-mm-dd" value="" min="2020-01-01" max="2099-12-31" id="start"> <br>
    End: <input type="date" name="end" placeholder="yyyy-mm-dd" value="" min="2020-01-01" max="2099-12-31" id="end"> <br>
    <input type="submit" value="submit">
    </form>


  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}