{% extends 'base.html' %}

{% block title %}{% block header %} Customer Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Register for Trash Collection services by filling out this form
  {{user.id}} {{ user.username }} {{is_employee}}!
{{user.first_name}}

<form action="{% url 'customers:suspend_account' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Cancel Subscription">
</form>

  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}