{% extends 'base.html' %}

{% block title %}{% block header %} Suspend Service {% endblock %}{% endblock %}

{% block content %}
{% load static %}
  {% if user.is_authenticated %}

Hey {{user.first_name}}  {{user.last_name}}!
{% if customer.balance > 1 %}
You must pay your debt before you can close your account
{% endif %}
{% if customer.balance < 1 %}

<form action="{% url 'customers:suspend_account' %}" method="post">
    {% csrf_token %}
    Once you suspend this account, you can not use this account again.<br>
    also, this username will no longer be available in the future, you will have to make<br>
    a new account name and login.
    <input type="submit" value="Cancel Subscription">
</form>

<div class="container" style="text-align: center" ><img class="img-fluid" src="{% static 'image/logo.png' %}" style="height:auto; width: 100%" class="responsive" alt="photo"></div>

{% endif %}
  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}