{% extends 'base.html' %}

{% block title %}{% block header %} <p style="text-align:center"> Register </p> {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
 {% if user.firstname == '' %}
<p>Register for Trash Collection services by filling out this form.</p>
{% endif %}

<p style="text-align: center">{{user.first_name}} {{user.last_name}}</p>

<form style="text-align:center" action="{% url 'customers:trash_customer' %}" method="post">
    {% csrf_token %}
    First_Name:<input type="text" name="first_name" id="first_name" required maxlength="45"><br>
    Last_Name:<input type="text" name="last_name" id="last_name" required maxlength="45"><br>
    Email:<input type="text" name="email" id="email" required maxlength="45"><br>
    Address : <input type="text" name="address" id="address" required maxlength="45"><br>
    Zipcode : <input type="text" name="zipcode" id="zipcode" required maxlength="45"><br>
    State : <input type="text" name="state" id="state" required maxlength="45"><br>
    City : <input type="text" name="city" id="city" required maxlength="45"><br>
    <label for="pickup_day">Choose day you want your garbage collected:</label>
  <select id="pickup_day" name="pickup_day">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
  </select><br>
    <input type="submit" value="Edit Submit">
</form>

 {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}

<!--<input type="text" name="pickup_day" id="pickup_day" value="Monday">-->

