
{% extends 'base.html' %}

{% block title %}{% block header %}<p style="text-align: center">Login<p>{% endblock %}{% endblock %}

{% block content %}
{% load static %}

<form style="text-align: center" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button syle="text-align: center" type="submit">Log In</button>
</form>
<img src="{% static 'image/banner3.png' %}" alt="photo" style="width: 100%">
<div style="text-align: bottom-center"><img class="img-fluid" src="{% static 'image/logo.png' %}" alt="photo"></div>

{% endblock %}